/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font: PT Sans;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
}

/* Utilities */
:root {
    --blue: rgb(0, 132, 253);
    --azure: rgb(181, 221, 255);
    --purple: rgb(151, 146, 228);
    --yellow: rgb(253, 193, 95);
    --gray: rgb(51, 51, 51);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Header */
header {
    background-color: var(--blue);
    min-height: 70px;
    padding: 20px;
}

.hamburger-menu {
    display: none;
}


@media screen and (max-width: 992px) {
    header {
        max-width: 992px;
    }

    .display-nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}


@media screen and (max-width: 576px) {
    header {
        max-width: 576px;
    }

    .display-nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
}




.header-content {
    justify-content: space-between;
}