/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font: PT Sans;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}


/* Utilities */
:root {
    --blue: rgb(0, 132, 253);
    --azure: rgb(181, 221, 255);
    --purple: rgb(151, 146, 228);
    --yellow: rgb(253, 193, 95);
    --gray: rgb(51, 51, 51);
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Header */
header {
    background-color: var(--blue);
    min-height: 70px;
    padding: 20px;
}

.hamburger-menu {
    display: none;
}

.header-btn {
    display: inline-block;
}






.header-content {
    justify-content: space-between;
}

/* Main */


/* Card settings */
.large-card {
    width: calc(70% - 20px);
    min-height: 200px;
    background-color: green;
    border: 1px solid black;
}

/* Large card content */
.inside-large-content {
    width: 70%;
    min-height: 100px;
    background-color: red;
}

.inside-small-content {
    width: 30%;
    min-height: 100px;
    background-color: red;
}

.demo-card {
    width: calc(30% - 20px);
    min-height: 200px;
    background-color: rosybrown;
    border: 1px solid black;

}

/* Section Demo */
.demo {
    background-color: aquamarine;
}

.demoflex {
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;

}





/* Purple Strategic section */

.purple-strategic {
    background-color: var(--purple);
}

.strategic {
    gap: 20px;
    flex-wrap: wrap;
}

.testim-flex {
    flex-wrap: wrap;
    gap: 20px;
}

/* Testimonial section */
.testimonials {
    background-color: lightcoral;
}

.testimonial-text {
    text-align: center;
    padding-bottom: 25px;
}

.largest-card {
    width: 100%;
    min-height: 100px;
    background-color: lawngreen;
    border: 1px solid black;


}

@media screen and (max-width: 992px) {
    /* Header responsive settings */

    .display-nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }

    /* Demo Section responsive settings */

    .large-card {
        display: block;
    }

    .inside-large-content {
        width: 100%;
    }

    .inside-small-content {
        width: 100%;
    }

    .container {
        max-width: 90%;
    }

    /* Strategic section responsive settings */

    .strategic.large-card,
    .strategic.demo-card {
        width: 100%;

    }

}

@media screen and (max-width: 576px) {

    .large-card {
        width: 100%;

    }

    .demo-card {
        width: 100%;

    }

}